<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SimplesuranceV1">

	<listeners>
		<listener class-name="com.simplesurance.utilities.Reporting" />
	</listeners>


	<test name="InsuranceApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.simplesurance.testCases.TC_CreatePolicy_001" /> 
			<!--<class name="com.simplesurance.testCases.TC_ImportPolicy_002" /> -->
			<!--<class name="com.simplesurance.testCases.TC_ListPolicy_003" />-->
			

		</classes>

	</test>

</suite>